---
import cn from '@/utils/cn'
import { getProfile } from '@/utils/steam'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const steamProfile = await getProfile('76561198257979644')

if (import.meta.env.PUBLIC_VERCEL_ENV === 'production') {
    Astro.response.headers.set('Cache-Control', `max-age=${30}`) // 30 seconds
    Astro.response.headers.set('CDN-Cache-Control', `max-age=${60}`) // 1 minutes
}
---

<>
    <Image
        src={steamProfile.summaries.avatarmedium}
        alt="Steam Avatar"
        width={64}
        height={64}
        class="animate-in fade-in rounded-lg"
    />

    <div class="animate-in fade-in flex flex-col items-start gap-1">
        <span
            class={cn(
                'text-sm rounded-lg px-2.5 py-1.5 font-medium leading-none',
                steamProfile.summaries.personastate.class
            )}
        >
            {steamProfile.summaries.personastate.label}
        </span>

        <span class="ml-1 text-xs text-zinc-400">
            Owned games: {steamProfile.ownedGames.game_count}
        </span>
    </div>

    <Icon
        name="simple-icons:steam"
        size="18"
        class="animate-in fade-in ml-auto shrink-0 self-start text-zinc-500"
    />
</>
