---
import { Icon } from 'astro-icon/components'
import Layout from '@/layouts/default.astro'
import Button from '@/components/button.astro'

export const prerender = true
---

<Layout>
    <div class="flex h-screen flex-col items-center justify-center gap-8">
        <h1
            class="pb-8 pl-[1rem] text-6xl font-extralight tracking-[1rem] text-zinc-400"
        >
            404
        </h1>
        <Button to="/">
            <Icon name="lucide:arrow-left" size="22" class="text-zinc-500" />
        </Button>
    </div>
</Layout>
