---
import Layout from '@/layouts/default.astro'
import Head from '@/components/home/head.astro'
import Arts from '@/components/home/arts.astro'
import Liria from '@/components/home/liria.astro'
import Posts from '@/components/home/posts.astro'
---

<Layout>
    <div class="flex flex-col items-start gap-12">
        <Head />
        <div class="-my-3 h-px w-full bg-zinc-800"></div>
        <Liria />
        <Arts />
        <Posts server:defer />
    </div>
</Layout>
