---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const arts = [
    {
        url: 'https://www.artstation.com/artwork/Ya3D0V',
        src: '/arts/telephones.jpg',
        alt: 'Telephones',
    },
    {
        url: 'https://www.artstation.com/artwork/Z5yElN',
        src: '/arts/coleman.jpg',
        alt: 'Coleman',
    },
    {
        url: 'https://www.artstation.com/artwork/obn6Az',
        src: '/arts/research.jpg',
        alt: 'A research',
    },
    {
        url: 'https://www.artstation.com/artwork/R3yWxr',
        src: '/arts/danboard.jpg',
        alt: 'Danboard',
    },
    {
        url: 'https://www.artstation.com/artwork/Vdm48Z',
        src: '/arts/gate.jpg',
        alt: 'Ticket gate',
    },
    {
        url: 'https://www.artstation.com/artwork/yJRe6O',
        src: '/arts/mixer.jpg',
        alt: 'Audio Mixer "Pro MIX"',
    },
    {
        url: 'https://www.artstation.com/artwork/aRAelz',
        src: '/arts/no-parking.jpg',
        alt: 'No Parking',
    },
]
---

<script>
    import { track } from '@vercel/analytics'

    document.addEventListener('DOMContentLoaded', () => {
        const artLinks = document.querySelectorAll('a.art-thumbnail')

        artLinks.forEach((link) => {
            link.addEventListener('click', (e) => {
                const imgAlt =
                    link.querySelector('img')?.getAttribute('alt') || 'Unknown'
                track('Art click', { art: imgAlt })
            })
        })
    })
</script>

<div class="grid w-full grid-cols-2 gap-3">
    {
        arts.map((art) => (
            <a
                href={art.url}
                target="_blank"
                class="art-thumbnail group relative overflow-hidden rounded-lg"
            >
                <Image
                    src={art.src}
                    alt={art.alt}
                    width={256}
                    height={256}
                    loading="eager"
                    fit="cover"
                    class="h-32 w-full shrink-0 object-cover"
                />
                <div class="absolute inset-0 flex items-center justify-center bg-black/60 opacity-0 transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100">
                    <Icon
                        name="simple-icons:artstation"
                        size={24}
                        class="text-zinc-100"
                    />
                </div>
            </a>
        ))
    }
</div>
