---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import AvatioLogo from '@public/logo_avatio.svg'
---

<div class="flex flex-col gap-5">
    <a
        href="https://liria.me"
        target="_blank"
        class="flex items-center gap-3 transition-opacity hover:opacity-60 focus-visible:opacity-60"
    >
        <span
            class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
        >
            //
        </span>
        <h2
            class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
        >
            Liria
        </h2>
        <Icon name="liria" size="18" class="text-zinc-400" />
    </a>

    <div class="-ml-1 flex flex-wrap items-start gap-5">
        <a
            href="https://eicosapenta.booth.pm"
            target="_blank"
            class="flex items-baseline p-1 transition-opacity hover:opacity-60 focus-visible:opacity-60"
        >
            <span class="text-4xl font-bold tracking-tight"> Liria </span>
            <span class="text-4xl font-thin tracking-tight"> Graphics </span>
        </a>
        <a
            href="https://avatio.me"
            target="_blank"
            class="flex shrink-0 items-center p-1 transition-opacity hover:opacity-60 focus-visible:opacity-60"
        >
            <Image
                src={AvatioLogo}
                alt="Avatio Logo"
                width={108}
                loading="eager"
                class="shrink-0 select-none"
            />
        </a>
    </div>
</div>
