---
import cn from '@/utils/cn'
import { getProfile } from '@/utils/steam'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const steamProfile = await getProfile('76561198257979644')
---

<a
    href="/steam"
    target="_blank"
    class="flex h-16 items-center gap-3 rounded-xl bg-zinc-950 px-5 py-4 transition-colors hover:bg-zinc-900 focus-visible:bg-zinc-900"
>
    <Icon name="simple-icons:steam" size="20" class="text-zinc-400" />

    <Image
        src={steamProfile.summaries.avatarmedium}
        alt="Steam Avatar"
        width={30}
        height={30}
        class="ml-3 rounded-lg"
    />

    <span class="tracking-widest">
        {steamProfile.summaries.personaname}
    </span>

    <span
        class={cn(
            'text-sm rounded-lg px-2.5 py-1.5 font-medium leading-none',
            steamProfile.summaries.personastate.class
        )}
    >
        {steamProfile.summaries.personastate.label}
    </span>

    <div class="mx-auto flex items-center gap-1.5 text-sm text-zinc-400">
        <Icon name="lucide:gamepad-2" size="18" />
        <span>
            {steamProfile.ownedGames.game_count}
        </span>

        <Icon name="lucide:calendar-fold" size="17" class="ml-3" />
        <span>
            {
                new Date(
                    steamProfile.summaries.timecreated * 1000
                ).toLocaleDateString()
            }
        </span>
    </div>
</a>
