---
import Analytics from '@vercel/analytics/astro'
import { Icon } from 'astro-icon/components'
import { SEO } from 'astro-seo'
import { Font } from 'astro:assets'
import '../assets/css/main.css'

const title = 'Liry24'
const description = '3D Artist / Developer / Gamer'
const image = 'https://liry24.com/og.png'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <Font cssVariable="--font-geist" preload />
        <Analytics />
        <SEO
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: image,
                },
                optional: {
                    description: description,
                    siteName: title,
                    locale: 'ja_JP',
                },
                image: {
                    url: image,
                    alt: title,
                },
            }}
            twitter={{
                site: '@Liry24g',
                card: 'summary_large_image',
                image: image,
                title: title,
                description: description,
            }}
        />
    </head>
    <body
        class="mx-auto flex min-h-[100dvh] max-w-4xl flex-col bg-black px-12 text-zinc-300"
    >
        <main class="isolate grid grow">
            <slot />
        </main>

        <footer class="mt-12 flex w-full flex-col items-start gap-4">
            <div class="h-px w-full bg-zinc-800"></div>

            <div
                class="flex w-full flex-wrap items-center justify-between gap-x-4 gap-y-1 pb-3"
            >
                <div class="flex items-center gap-1">
                    <p
                        class="text-xs font-light tracking-[0.3rem] text-zinc-400"
                    >
                        contact
                    </p>
                    <a
                        href="/x"
                        target="_blank"
                        aria-label="Twitter"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:twitter" />
                    </a>
                </div>
                <div class="flex items-center gap-1">
                    <p
                        class="text-xs font-light tracking-[0.3rem] text-zinc-400"
                    >
                        built with
                    </p>
                    <a
                        href="https://vercel.com"
                        target="_blank"
                        aria-label="Vercel"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:vercel" />
                    </a>
                    <a
                        href="https://astro.build"
                        target="_blank"
                        aria-label="Astro"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:astro" />
                    </a>
                    <a
                        href="https://tailwindcss.com"
                        target="_blank"
                        aria-label="Tailwind CSS"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:tailwindcss" />
                    </a>
                    <a
                        href="https://bun.sh"
                        target="_blank"
                        aria-label="Bun"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:bun" />
                    </a>
                    <a
                        href="https://github.com/features/copilot"
                        target="_blank"
                        aria-label="GitHub Copilot"
                        class="flex items-center p-1 text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Icon name="simple-icons:githubcopilot" />
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>

<style>
    html,
    body {
        font-family: var(--font-geist);
    }
</style>
